<div class="diskGet">
	<div class="diskGet-table">

		<div class="diskGet-cell">
			<div class="diskGet-cell-icon"> <i class="material-icons">folder</i> </div>
			<div class="diskGet-cell-name"> item.name </div>
			<div class="diskGet-cell-actions"> <i class="material-icons">delete</i> </div>
		</div>

		<div class="diskGet-cell">
			<div class="diskGet-cell-icon"> <img class="diskGet-filetype" src="https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.openxmlformats-officedocument.wordprocessingml.document" alt="Word"> </div>
			<div class="diskGet-cell-name"> Файл.docx </div>
			<div class="diskGet-cell-actions"> <i class="material-icons">delete</i> </div>
		</div>
		<div class="diskGet-cell">
			<div class="diskGet-cell-icon"> <img class="diskGet-filetype" src="https://drive-thirdparty.googleusercontent.com/16/type/application/pdf" alt="PDF"> </div>
			<div class="diskGet-cell-name"> Файл.pdf </div>
			<div class="diskGet-cell-actions"> <i class="material-icons">delete</i> </div>
		</div>
		<div class="diskGet-cell">
			<div class="diskGet-cell-icon"> <img class="diskGet-filetype" src="https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet" alt="Google Таблицы"> </div>
			<div class="diskGet-cell-name"> Файл.xls </div>
			<div class="diskGet-cell-actions"> <i class="material-icons">delete</i> </div>
		</div>
		<div class="diskGet-cell">
			<div class="diskGet-cell-icon"> <img class="diskGet-filetype" src="https://ssl.gstatic.com/docs/doclist/images/mediatype/icon_1_image_x16.png" alt="Изображение"> </div>
			<div class="diskGet-cell-name"> Файл.jpeg </div>
			<div class="diskGet-cell-actions"> <i class="material-icons">delete</i> </div>
		</div>
		<div class="diskGet-cell">
			<div class="diskGet-cell-icon"> <img class="a-Ua-c" src="https://ssl.gstatic.com/docs/doclist/images/mediatype/icon_2_archive_x16.png" alt="Архив"> </div>
			<div class="diskGet-cell-name"> Архив.zip </div>
			<div class="diskGet-cell-actions"> <i class="material-icons">delete</i> </div>
		</div>
		<div class="diskGet-cell">
			<div class="diskGet-cell-icon"> <img class="a-Ua-c" src="https://drive-thirdparty.googleusercontent.com/16/type//undefined" alt="Другой формат"> </div>
			<div class="diskGet-cell-name"> Другой формат.afk </div>
			<div class="diskGet-cell-actions"> <i class="material-icons small">delete</i> </div>
		</div>-->
	</div>
	<button id="diskGet-button-addFile" class="diskGet-button"> <i class="material-icons diskGet-button-icon">add</i>
		<p class="diskGet-button-text">Загрузить файлы</p>
	</button>
	<button class="diskGet-button"> <i class="material-icons diskGet-button-icon">add</i>
		<p class="diskGet-button-text">Создать папку</p>
	</button>
	<div id="diskGet-addFiles">
		<input id="diskGet-input" type="file" title="Click to add Files" hidden> </div>
</div> 